---
title: "We now publish an Accessibility Conformance Report"
url: "https://blog.opencagedata.com/post/we-now-publish-an-accessibility-conformance-report"
date: "2026-05-17"
author: ""
feed_url: "https://blog.opencagedata.com/feed.xml"
---
Hi everyone, This week we were, for the first time, asked by a potential customer for an Accessibility Conformance Report. This prompted us to spend a few days revisiting and fine-tuning our website accessibility We have always believed our geocoding API and tools should be usable by everyone, which is precisely why we spend so much energy on keeping the service simple. “Everyone” of course includes developers and users with disabilities. That’s why we’re pleased to announce that we now have a...
